@import url("http://fonts.googleapis.com/css?family=Oxygen:400,300,700|Droid+Sans:400,700");
body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background: #EEE;
  font: normal 100%/100% 'Droid Sans', sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Droid Sans', sans-serif;
}
body div.container {
  width: 90%;
  height: auto;
  max-width: 1024px;
  margin: 0 auto;
}
